body {
    font-family: 'Montserrat', sans-serif;
}
header {    
    max-width: 1141px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 27px;
}
.header-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 57.5%;
}
.header-nav {
    display: flex;
    list-style-type: none;
    gap: 54px;
    font-size: 18px;
}
.header-nav a {
    text-decoration: none;
    white-space: nowrap;
    color: #2B3541;
}
.header-nav a::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: transparent;
    display: block;
    border-radius: 2px; 
}
.header-nav a:hover::after {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    border-radius: 2px; 
    background-color: #2B3541;
}
.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 97px;
    height: 30px;
}
.header-if {
    display: flex;
    gap: 30px;
}
.header-inst {
    background-image: url(../images/instlogo.svg);
    width: 30px;
    height: 30px;
    transition: 0.3s;
    transform: scale(1);
    opacity: 0.8;
    background-size: contain;
    background-repeat: no-repeat;
}
.header-inst:hover {
    transform: scale(1.2);
    opacity: 1;
}
.header-facebook {
    background-image: url(../images/flogo.svg);
    width: 30px;
    height: 30px;
    transition: 0.3s;
    transform: scale(1);
    opacity: 0.7;
    background-size: contain;
    background-repeat: no-repeat;
}
.header-facebook:hover {
    transform: scale(1.2);
    opacity: 1;
}
main {
    max-width: 1141px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    position: relative;
}
.banner-main {
    margin-bottom: 164px;
}
.banner h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #2B3541;
    max-width: 676px;
    padding-top: 215px;
    margin-top: 0;
    margin-bottom: 43px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    
}
.banner-workout {
    font-size: 40px;
    color: #2B3541;
    margin-bottom: 22px;  
}
.banner-workout span {
    margin-right: 10px;  
}
.banner-text {
    max-width: 297px;
    font-size: 18px;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 58px;
    padding-left: 90px;   
}
.banner-link {
    background-color: #FBF138;
    color: #2B3541;
    padding: 20px 30px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 92px;
    letter-spacing: 0.03em;
}
.banner-link:hover {
    background-color: #2B3541;
    color: #FBF138;
}
.botton-down {
    background-image: url(../images/arrow.svg);
    width: 52px;
    height: 55px;
    display: block;
    margin-top: 204px;
    background-size: contain;
    background-repeat: no-repeat;
}
.box-menu {
    display: flex;
    gap: 20px;
    position: absolute;
    top: -10px;
    z-index: -1;
    right: -78px;
}
.left-gradient {
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
    width: 535px;
    height: 850px;
    opacity: 0.2;
}
.right-gradient {
    background: linear-gradient(90deg, #FDF9B6 0%, rgba(253, 249, 182, 0.7) 166.81%);
    width: 235px;
    height: 850px;
    opacity: 0.2;  
}
.img-girl {
    background-image: url(../images/girl.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 996px;
    height: 850px;
    position: absolute;
    left: -112px;
    right: 0;
    top: 42px;
    clip:rect(-6px 1092px 805px 12px);  
}
article {
    max-width: 1141px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto
}
h2 {
    margin-bottom: 40px;
    color: #2B3541;
    font-size: 40px;
    font-weight: 700;
    margin-left: -3px;
}
.box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;   
}
.box-one {
    background-image: url(../images/Image1.png);
    width: 367px;
    height: 600px;
    position: relative;  
}
.box-two {
    background-image: url(../images/Image2.png);
    width: 367px;
    height: 600px;
    position: relative;    
}
.box-three {
    background-image: url(../images/Image3.png);
    width: 367px;
    height: 600px;
    position: relative;    
}
.box-data {
    font-size: 18px;
    font-weight: 700;
    color: #2B3541;
    padding-left: 27px;
    padding-top: 17px;
}
.text-box {
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
    color: #2B3541;
    padding-left: 26px;
    padding-top: 7px;
    margin: 0;
    margin-bottom: 60px;

}
.box-type {
    font-size: 18px;
    color: #2B3541;
    background-color: #FBF138;
    padding: 12px 22px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
}
.box-gradient {
    background: linear-gradient(180deg, rgba(251, 241, 55, .3) 0%, rgba(253, 249, 182, 0) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .2s;
}
.box-gradient:hover {
    background: linear-gradient(180deg, rgba(251, 241, 55, .6) 0%, rgba(253, 249, 182, 0) 100%);

}
.box-button {
    background-color: #2B3541;
    color: #FBF138;
    padding: 20px 36px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 32px;
    opacity: 0;
    transition: .4s;
}
.box-gradient:hover .box-button {
    opacity: 1;
}
.schedule {
    max-width: 1141px;
    margin: 0 auto;
    margin-bottom: 160px;
    padding-left: 15px;
    padding-right: 15px;
}
.flex-schedule {
    display: flex;
    justify-content: space-between;
    align-items: center;
       
}
.flex-text {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-top: 41px;  
}
.flex-data {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 62px;
}
.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 38px 74px 280px;
    gap: 20px;
}
.grid-body {
    width: 65px;
    height: 65px;
    padding-left: 31px;
    padding-top: 59px;
}
.grid-bottle {
    width: 42px;
    height: 85px;
    padding-left: 30px;
    padding-top: 191px;
}
.grid-dumbbell {
    width: 91px;
    height: 50px;
    padding-left: 29px;
    padding-top: 132px;
}
.grid-jump{
    width: 67px;
    height: 107px;
    padding-left: 28px;
    padding-top: 99px;
}
.grid-heart{
    width: 65px;
    height: 61px;
    padding-left: 28px;
    padding-top: 94px;
}
.grid-weight{
    width: 58px;
    height: 66px;
    padding-left: 26px;
    padding-top: 183px;
}
.grid-data{
    margin: 0;
    padding-left: 205px;
    padding-top: 21px;
    font-size: 18px;
}
.text-body {
    width: 272px;
    height: 27px;
    margin: 0;
    padding-left: 29px;
    margin-top: 25px;
    font-size: 18px;
}
.text-bottle {
    width: 272px;
    height: 27px;
    margin: 0;
    padding-left: 29px;
    margin-top: 26px;
    font-size: 18px;
    padding-bottom: 20px;
}
.text-dumbbell {
    width: 272px;
    height: 27px;
    margin: 0;
    padding-left: 35px;
    margin-top: 38px;
    font-size: 18px;
}
.text-jump {
    width: 272px;
    height: 27px;
    margin: 0;
    padding-left: 29px;
    margin-top: 36px;
    font-size: 18px;
}
.text-heart {
    width: 272px;
    height: 27px;
    margin: 0;
    padding-left: 29px;
    margin-top: 30px;
    font-size: 18px;
}
.text-weight {
    width: 272px;
    height: 27px;
    margin: 0;
    padding-left: 29px;
    margin-top: 30px;
    font-size: 18px;
}
.grid-item {
    border: 1px solid #2B3541;
    position: relative;
}
.grid-item-active {
    border: none;
    position: relative;
}
.active {
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
    opacity: 0.9;
    position: absolute;
    width: 100%;
    height: 100%;
}
.text-active {
    width: 306px;
    height: 81px;
    margin: 0;
    padding-left: 29px;
    margin-top: 17px;
    font-size: 18px;
    line-height: 27px;
}
.grid-item:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
}
.grid-item:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/4;
}
.grid-item:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/3;
}
.grid-item-active:nth-child(4) {
    grid-column: 1/2;
    grid-row: 2/5;
}
.grid-item:nth-child(5) {
    grid-column: 2/3;
    grid-row: 4/5;
}
.grid-item:nth-child(6) {
    grid-column: 3/4;
    grid-row: 3/5;
}
.active-body {
    width: 306px;
    height: 37px;
    color: #2B3541;
    opacity: 0;
    padding-left: 29px;
    font-size: 18px;
    line-height: 27px;
    position: absolute;
    top: 163px;
}
.active-heart {
    width: 306px;
    height: 37px;
    color: #2B3541;
    opacity: 0;
    padding-left: 29px;
    font-size: 18px;
    line-height: 27px;
    position: absolute;
    top: 163px;
}
.active-bottle {
    width: 306px;
    height: 37px;
    color: #2B3541;
    opacity: 0;
    padding-left: 29px;
    font-size: 18px;
    line-height: 27px;
    position: absolute;
    bottom: 72px;
}
.active-weight {
    width: 306px;
    height: 37px;
    color: #2B3541;
    opacity: 0;
    padding-left: 29px;
    font-size: 18px;
    line-height: 27px;
    position: absolute;
    bottom: 72px;
}
.active-dumbbell {
    width: 306px;
    height: 81px;
    color: #2B3541;
    opacity: 0;
    padding-left: 34px;
    font-size: 18px;
    line-height: 27px;
    position: absolute;
    top: 189px;
}
.grid-active:hover .active-body {
    opacity: 1;   
}
.grid-active:hover .active-heart {
    opacity: 1;   
}
.grid-active:hover .active-bottle {
    opacity: 1;   
}
.grid-active:hover .active-dumbbell {
    opacity: 1;
}
.grid-active:hover .active-weight {
    opacity: 1;
}
.grid-active:hover .grid-body {
    padding-top: 10px;
}
.grid-active:hover .grid-bottle {
    padding-top: 37px;
}
.grid-active:hover .grid-weight {
    padding-top: 37px;
}
.grid-active:hover .grid-dumbbell {
    padding-top: 20px;
}
.grid-active:hover .grid-heart {
    padding-top: 10px;
}
.grid-active {
    width: 100%;
    height: 100%;
    position: relative;
}
.subscription {
    height: 348px;
    background: #F3F3F3;
    margin-bottom: 160px;
}
.subscription-items {
    max-width: 1141px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.h-circle {
    width: 655px;
    height: 49px;
    font-size: 40px;
    font-weight: 700;
    padding-left: 278px;
    padding-top: 83px;
    position: relative;
    z-index: 1;
    margin-bottom: 39px;
}
.h-circle::before {
    content: "";
    display: inline-block;
    width: 53px; 
    height: 53px;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    border-radius: 50%;
    position: absolute;
    top: 63px;
    left: 243px;
    z-index: -1;
}
.subscription-form {
    padding-left: 270px;
}
.subscription-input {
    padding: 21px 140px 21px 19px;
    border: 1px solid #fff;
    font-size: 18px;
}
.subscription-input:focus {
    outline: none;
    border-color: #FBF138;
}
.subscription-input:invalid {
    border: 1px solid #AE0303;
 }
 .text-invalid {
    color: #AE0303;
    font-size: 13px;
    margin-top: 3px;
    display: none;
 }
.subscription-button {
    padding: 22px 44px;
    text-transform: uppercase;
    background-color: #FBF138;
    border: none;
    font-size: 16px;
    font-weight: 700;
    margin-left: 15px;
    letter-spacing: 0.03em;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.2);
    color: #2B3541;
    cursor: pointer;
}
.subscription-button:hover {
    background-color: #2B3541;
    color: #FBF138;
}
.agreement {
    padding-left: 270px;
    padding-top: 12px;
}
.agreement-text {
    font-size: 11px;
    color: rgba(43, 53, 65, 0.5);
    opacity: 0.8; 
}
.agreement-a {
    font-size: 11px;
    color: rgba(43, 53, 65, 0.5);
    text-decoration: none;
    border-bottom: solid 1px #2B3541;
    
}
.agreement-a:hover {
    color: rgba(43, 53, 65, 1);
}
.checkbox:checked,
.checkbox:not(:checked){
   position: absolute;
   left:-9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
   position: relative;
   padding-left: 23px;
   cursor:pointer;
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт активен */
.checkbox:checked + label::before{
   content:'';
   position: absolute;
   width: 16px;
   height: 16px;
   left: 0;
   top:calc(50% - 10px);
   background-color: #2B3541;
   border-radius: 2px;
   border: 2px solid #2B3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт активен */
.checkbox:checked + label::after{
   content:'';
   position: absolute;
   width: 12px;
   height: 12px;
   transition: all .2s ease;
   opacity: 1;
   left: 4px;
   top: calc(50% - 6px);
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт НЕ активен */
.checkbox:not(:checked) + label::before{
   content:'';
   position: absolute;
   width: 16px;
   height: 16px;
   left:0;
   top:calc(50% - 10px);
   background-color: transparent;
   border-radius: 2px;
   border: 2px solid #2B3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт НЕ активен */
.checkbox:not(:checked) + label::after{
   content:'';
   position: absolute;
   width: 12px;
   height: 12px;
   transition: all .2s ease;
   opacity: 0;
   left: 4px;
   top: calc(50% - 6px);
   background-position: 0 -12px;
   background-color: transparent;
   background-repeat: no-repeat;
   background-size: cover;
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
}
.radio:checked + label::before{
   border-radius: 100%;
}
.before-footer {
    max-width: 1141px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.before-footer-items {
    max-width: 1142px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 156px;
}
.before-h {
    font-size: 40px;
    font-weight: 700;
    padding-top: 2px;
    margin-bottom: 0;
}
.trainer {
    background-image: url(../images/trainer.png);
    display: block;
    width: 580px;
    height: 336px;
    position: absolute;
    top:0;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
}
.before-text {
    width: 473px;
    font-size: 18px;
    line-height: 27px;
    padding-left: 2px;
    padding-top: 4px;
    margin-bottom: 56px;
}
.before-button {
    padding: 22px 51px;
    text-transform: uppercase;
    background-color: #FBF138;
    border: none;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.03em;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.2);
    color: #2B3541;
    cursor: pointer;
}
.before-button:hover {
    background-color: #2B3541;
    color: #FBF138;
}
.before-gradient {
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
    width: 100%;
    height: 100%;
    opacity: 0.3;
}
.flex-hp {
    margin-top: 149px;
    display: flex;
    justify-content: space-between;
    gap: 26px;
}
.hp-flex {
    padding: 0;
    margin: 0 -12px;
}
.hp-flexthree {
    padding-left: 49px;
    margin: 0 5px;
}
.hp-p {
    font-size: 18px;
    line-height: 27px;
    width: 271px;
}
.hp-h {
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
}
footer {
    height: 149px;
    background-color: #F3F3F3;      
}
.footer {
    max-width: 1141px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 39px;
}
.footer-nav {
    font-size: 14px;
    display: flex;
    list-style-type: none;
    gap: 90px;
    padding: 0;
}
.footer-if {
    display: flex;
    gap: 26px;
    align-items: center;
}
.footer-circle {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    position: relative;
    z-index: 1;
    margin-right: 36px;
}
.footer-circle::before {
    content: "";
    display: inline-block;
    width: 25px; 
    height: 25px;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    border-radius: 50%;
    position: absolute;
    top: -8px;
    left: -17px;
    z-index: -1;
}
.footer-nav a {
    text-decoration: none;
    white-space: nowrap;
    color: #2B3541;
}
.footer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 55.5%;
}
.footer-end {
    display: flex;
    justify-content: space-between;
    max-width: 1141px;
    margin: 0 auto;
    margin-top: 11px;
}
.footer-end p {
    font-size: 14px;
    color: rgba(43, 53, 65, 0.3);
}
u {
    color: rgba(43, 53, 65, 0.3);
    cursor: pointer;
}
u:hover{
    color: rgba(43, 53, 65, 1);
}

/* Modal */
.burger {
    background-image: url(../images/burgerone.svg);
    width: 29px;
    height: 22px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.modal {
    background-color: #F3F3F3;
    max-width: 567px;
    max-height: 460px;
    position: absolute;
    top: -600px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 93px 10px 86px;
    padding-bottom: 20px;
    transition: .5s;
}
.background-bottom {
    background-color: #2B3541;
    opacity: 0.4;
    width: 587px;
    height: 135px;
    position: absolute;
    top: 326px;
    left: 0;
    right: 0;
    margin: 20px auto 0;
}

.modal .burger-nav {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 24px;
}
.burger-nav li:nth-child(1), .burger-nav li:nth-child(2)  {
    border-bottom: 1px solid rgb(43, 53, 65, 0.2);
    padding-bottom: 21px;
    list-style-type: none;
}
.burger-nav li:nth-child(3) {
    list-style-type: none;
}
.burger-nav a {
    text-decoration: none;
    font-size: 16px;
    color: #2B3541;
}
.header-logo-burger {
    display: block;
    background-image: url(../images/logo-burger.svg);
    width: 78px;
    height: 27px;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    position: absolute;
    top: 41px;
    left: 10px;
}
.header-if-burger {
    display: flex;
    gap: 22px;
    justify-content: right;
    margin-top: 43px;
}
.header-inst-burger {
    background-image: url(../images/instmini.svg);
    width: 26px;
    height: 26px;
    transition: 0.3s;
    transform: scale(1);
    opacity: 0.8;
}
.header-facebook-burger {
    background-image: url(../images/fbmini.svg);
    width: 26px;
    height: 26px;
    transition: 0.3s;
    transform: scale(1);
    opacity: 0.7;
}
.burger-close {
    width: 20px;
    height: 19px;
    background-image: url(../images/close.svg);
    border: none;
    position: absolute;
    top: 46px;
    right: 11px;
    cursor: pointer;
}
/* Responsive */

@media (max-width: 361px) {
    .header-item {
        flex-basis: 65.5%;
    }
    .header-if {
        gap: 20px;
    }
    header {    
        max-width: 340px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .box-menu {
        top: 313px;
        right: 8px;
        gap: 13px;
        margin-top: 69px;
    }
    .img-girl {
        width: 340px;
        height: 310px;
        clip: rect(-6px 1092px 275px -1px);
        top: 39px;
        left: -2px;
    }
    .left-gradient {
        width: 213px;
        height: 315px;
    }
    .right-gradient {
        width: 117px;
        height: 315px;  
    }
    main {
        max-width: 340px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .banner-link {
        margin-left: 1px;
        padding: 23px 73px;
    }
    .banner-text {
        padding-left: 0;
        font-size: 16px;
        width: 255px;
        height: 49px;
        line-height: 24px;
        margin-bottom: 61px;
    }
    .banner-main {
        margin-bottom: 457px;
    }
    .botton-down {
        display: none;
    }
    .modal {
        background-color: #F3F3F3;
        max-width: 340px;
        max-height: 231px;
        position: absolute;
        top: -600px;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 49px 10px 86px;
        padding-bottom: 20px;
        transition: .5s;
    }
    .background-bottom {
        background-color: #2B3541;
        opacity: 0.4;
        width: 360px;
        height: 135px;
        position: absolute;
        top: 300px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .header-logo-burger {
        display: block;
        background-image: url(../images/logo-burger.svg);
        width: 78px;
        height: 27px;
        background-repeat: no-repeat;
        margin-bottom: 5px;
        position: absolute;
        top: 17px;
        left: 10px;
    }
    .burger-close {
        width: 20px;
        height: 19px;
        background-image: url(../images/close.svg);
        border: none;
        position: absolute;
        top: 17px;
        right: 11px;
        cursor: pointer;
    }
    .box-one {
        background-image: url(../images/Img-phone-one.png);
        width: 165px;
        height: 310px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .box-two {
        background-image: url(../images/img-phone-two.png);
        width: 165px;
        height: 309px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .box-three-ipad {
        background-image: url(../images/img-phone-three.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 340px;
        height: 336px;
        position: relative;
        margin-bottom: 52px;
    }
    .box-type {
        font-size: 12px;
        left: 0;
        width: 87px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        position: absolute;
    }
    .box {
        margin-bottom: 0;
        gap: 10px;
    }
    .menu-grid-ipad {
        display: none;
    }
    .menu-grid-phone {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .grid-item-active-phone {
        position: relative;
        width: 340px;
        height: 206px;
    }
    .grid-item-phone {
        position: relative;
        border: 1px solid #2B3541;
        width: 340px;
        height: 114px;
    }
    .grid-body-ipad {
        width: 39px;
        height: 39px;
        padding-left: 17px;
        padding-top: 13px;
    }
    .grid-bottle-ipad {
        width: 23px;
        height: 45px;
        padding-left: 29px;
        padding-top: 25px;
    }
    .grid-dumbbell-ipad {
        width: 46px;
        height: 25px;
        padding-left: 20px;
        padding-top: 15px;
    }
    .grid-jump-ipad {
        width: 34px;
        height: 53px;
        padding-left: 19px;
        padding-top: 56px;
    }
    .grid-heart-ipad{
        width: 39px;
        height: 37px;
        padding-left: 19px;
        padding-top: 11px;
    }
    .grid-weight-ipad{
        width: 35px;
        height: 40px;
        padding-left: 20px;
        padding-top: 0px;
    }
    .flex-text {
        font-size: 26px;
        line-height: 31px;
        margin-bottom: 21px;
        margin-top: 28px;
    }
    .flex-data {
        font-size: 16px;
        opacity: 70%;
        margin-bottom: 19px;
        margin-right: 0;
        margin-top: 0;
    }
    .schedule {
        max-width: 360px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 62px;
    }
    .text-box-ipad {
        width: 133px;
        font-size: 16px;
        line-height: 19.2px;
        color: #2B3541;
        padding-left: 20px;
    }
    .text-body-ipad {
        width: 272px;
        height: 27px;
        margin: 0;
        padding-left: 74px;
        margin-top: -29px;
        font-size: 16px;
    }
    .text-bottle-ipad {
        width: 272px;
        height: 27px;
        margin: 0;
        padding-left: 74px;
        margin-top: -37px;
        font-size: 16px;
        padding-bottom: 20px;
    }
    .text-dumbbell-ipad {
        width: 272px;
        height: 27px;
        margin: 0;
        padding-left: 75px;
        margin-top: -25px;
        font-size: 16px;
    }
    .text-jump-ipad {
        width: 272px;
        height: 27px;
        margin: 0;
        padding-left: 77px;
        margin-top: -56px;
        font-size: 16px;
    }
    .text-heart-ipad {
        width: 272px;
        height: 27px;
        margin: 0;
        padding-left: 76px;
        margin-top: -32px;
        font-size: 16px;
    }
    .text-weight-ipad {
        width: 272px;
        height: 27px;
        margin: 0;
        padding-left: 74px;
        margin-top: -33px;
        font-size: 16px;
    }
    .grid-data-ipad{
        margin: 0;
        padding-left: 202px;
        padding-top: 22px;
        font-size: 16px;
    }
    .text-active-ipad {
        width: 228px;
        height: 54px;
        margin: 0;
        padding-left: 77px;
        margin-top: 7px;
        font-size: 12px;
        line-height: 18px;
    }
    .subscription {
        padding-left: 10px;
        padding-right: 10px;
        width: 340px;
        height: 416px;
        margin-bottom: 50px;
    }
    .subscription-form {
        padding-left: 0;
        padding-top: 26px;
    }
    .agreement {
        position: absolute;
        bottom: 109px;
        left: -269px;
    }
    .h-circle::before {
        top: 43px;
        left: 63px;
        width: 31px;
        height: 31px;
    }
    .h-circle {
        width: 226px;
        height: 49px;
        font-size: 26px;
        font-weight: 700;
        padding-left: 59px;
        padding-top: 58px;
        position: relative;
        z-index: 1;
        margin-bottom: 39px;
        text-align: center;
    }
    .subscription-button {
        padding: 24px 100px;
        margin-left: 0;
    }
    .subscription-input {
        padding-right: 65px;
        padding-left: 23px;
        margin-bottom: 74px;
    }
    .trainer {
        background-image: url(../images/trainer-ipad.png);
        width: 340px;
        height: 207px;
        top: 804px;
        left: 0;
    }
    .before-button {
        position: absolute;
        top: 698px;
        padding: 22px 109px;
    }
    footer {
        width: 100%;
        height: 280px;
        margin-top: 385px;
    }
    .flex-hp-ipad-one {
        gap: 161px;
        margin-top: 23px;
        margin-bottom: 42px;
    }
    .flex-hp-ipad-two {
        gap: 172px;
    }
    .before-text-ipad {
        width: 310px;
        font-size: 16px;
        line-height: 24px;
        padding-left: 0;
        padding-top: 4px;
        margin-bottom: 35px;
    }
    .flex-phone-one {
        margin-bottom: 37px;
    }
    .hp-flex-phone {
        margin-bottom: 38px;
    }
    .footer-if-ipad {
        position: relative;
    }
    .footer-circle-ipad {
        position: absolute;
        font-size: 12px;
        font-weight: 700;
        z-index: 1;
        top: 56px;
        right: 224px;
    }
    .footer-inst-ipad {
        background-image: url(../images/instmini.svg);
        width: 26px;
        height: 26px;
        opacity: 0.8;
        position: absolute;
        right: 50px;
        top: 66px;
    }
    .footer-facebook-ipad {
        background-image: url(../images/fbmini.svg);
        width: 26px;
        height: 26px;
        opacity: 0.7;
        position: absolute;
        right: 2px;
        top: 65px;
    }
    .footer-nav {
        font-size: 12px;
        gap: 40px;
        margin-left: -15px;
        margin-top: 80px;
    }
    .header-logo {
        display: none;
    }
    .header-logo-phone {
        display: block;
        background-image: url(../images/logo.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 97px;
        height: 30px;
        position: absolute;
        top: 47px;
        left: 123px;
    }
    .footer {
        position: relative;
        width: 340px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer-end {
        display: block;
        max-width: 340px;
        margin-top: 80px;
        text-align: center;
    }
    .phone-logo {
        display: block;
        background-image: url(../images/logo.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 78px;
        height: 24px;
    }
    .text-box {
        font-size: 16px;
        line-height: 19.2px;
        width: 140px;
        height: 38px;
        padding-left: 23px;
        padding-top: 5px;
    }
    .banner h1 {
        font-size: 26px;
        line-height: 32.5px;
        width: 343px;
        height: 70px;
        padding-top: 33px;
    }
    
}

@media (min-width: 361px) and (max-width: 769px) {
    .header-item {
        flex-basis: 29.5%;
    }
    .header-if {
        margin-right: 1px;
        gap: 20px;
    }
    header {    
        max-width: 748px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .box-menu {
        top: 9px;
        right: 8px;
        gap: 13px;
    }
    .img-girl {
        width: 399px;
        height: 364px;
        clip: rect(-6px 1092px 321px -1px);
        top: 106px;
        left: -46px;
    }
    .left-gradient {
        width: 194px;
        height: 429px;
    }
    .right-gradient {
        width: 152px;
        height: 429px;  
    }
    main {
        max-width: 748px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .banner-link {
        margin-left: 0;
    }
    .banner-text {
        padding-left: 0;
        font-size: 16px;
        width: 255px;
        height: 49px;
        line-height: 24px;
        margin-bottom: 63px;
    }
    .banner-main {
        margin-bottom: 110px;
    }
    .box-one {
        background-image: url(../images/box-one-ipad.png);
        width: 364px;
        height: 309px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .box-two {
        background-image: url(../images/box-two-ipad.png);
        width: 364px;
        height: 309px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .box-three-ipad {
        background-image: url(../images/ioga-ipad.png);
        background-size: cover;
        width: 748px;
        height: 336px;
        position: relative;
        margin-bottom: 52px;
    }
    .box-type {
        font-size: 12px;
        right: 277px;
        width: 87px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .box {
        margin-bottom: 0;
        gap: 20px;
    }
    .menu-grid-ipad {
        display: grid;
        grid-template-columns: 364px 364px;
        grid-template-rows: 333px 224px 224px;
        gap: 20px;
    }
    .grid-body-ipad {
        width: 65px;
        height: 65px;
        padding-left: 22px;
        padding-top: 152px;
    }
    .grid-bottle-ipad {
        width: 42px;
        height: 85px;
        padding-left: 29px;
        padding-top: 25px;
    }
    .grid-dumbbell-ipad {
        width: 91px;
        height: 50px;
        padding-left: 26px;
        padding-top: 65px;
    }
    .grid-jump-ipad {
        width: 67px;
        height: 107px;
        padding-left: 24px;
        padding-top: 32px;
    }
    .grid-heart-ipad{
        width: 65px;
        height: 61px;
        padding-left: 26px;
        padding-top: 48px;
    }
    .grid-weight-ipad{
        width: 58px;
        height: 66px;
        padding-left: 26px;
        padding-top: 49px;
    }
    .flex-text {
        font-size: 26px;
        line-height: 31px;
        margin-bottom: 21px;
    }
    .flex-data {
        font-size: 16px;
        opacity: 70%;
        margin-bottom: 19px;
        margin-right: 1px;
    }
    .schedule {
        max-width: 748px;
        padding-left: 9px;
        padding-right: 11px;
        margin-bottom: 94px;
    }
    .text-box-ipad {
        font-size: 16px;
        line-height: 19.2px;
        color: #2B3541;
        padding-left: 20px;
    }
    .text-body-ipad {
        width: 272px;
        height: 27px;
        margin: 0;
        padding-left: 22px;
        margin-top: 33px;
        font-size: 16px;
    }
    .text-bottle-ipad {
        width: 272px;
        height: 27px;
        margin: 0;
        padding-left: 26px;
        margin-top: 29px;
        font-size: 16px;
        padding-bottom: 20px;
    }
    .text-dumbbell-ipad {
        width: 272px;
        height: 27px;
        margin: 0;
        padding-left: 28px;
        margin-top: 27px;
        font-size: 16px;
    }
    .text-jump-ipad {
        width: 272px;
        height: 27px;
        margin: 0;
        padding-left: 23px;
        margin-top: 35px;
        font-size: 16px;
    }
    .text-heart-ipad {
        width: 272px;
        height: 27px;
        margin: 0;
        padding-left: 26px;
        margin-top: 30px;
        font-size: 16px;
    }
    .text-weight-ipad {
        width: 272px;
        height: 27px;
        margin: 0;
        padding-left: 29px;
        margin-top: 30px;
        font-size: 16px;
    }
    .grid-data-ipad{
        margin: 0;
        padding-left: 221px;
        padding-top: 22px;
        font-size: 16px;
    }
    .text-active-ipad {
        width: 228px;
        height: 54px;
        margin: 0;
        padding-left: 24px;
        margin-top: 13px;
        font-size: 12px;
        line-height: 18px;
    }
    .subscription {
        height: 416px;
        margin-bottom: 90px;
    }
    .subscription-form {
        padding-left: 214px;
    }
    .agreement {
        position: absolute;
        bottom: 102px;
        left: -58px;
    }
    .h-circle {
        font-size: 26px;
        width: 201px;
        height: 64px;
        line-height: 32px;
        text-align: center;
        padding-left: 283px;
        padding-top: 56px;
        margin-bottom: 50px;
    }
    .h-circle::before {
        top: 41px;
        left: 270px;
        width: 31px;
        height: 31px;
    }
    .subscription-button {
        padding: 24px 105px;
        margin-left: -3px;
    }
    .menu-grid-phone {
        display: none;
    }
    .subscription-input {
        padding-right: 102px;
        padding-left: 23px;
        margin-bottom: 74px;
    }
    .trainer {
        background-image: url(../images/trainer-ipad.png);
        width: 372px;
        height: 227px;
        top: 3px;
    }
    .before-button {
        padding: 23px 46px;
    }
    footer {
        height: 280px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .flex-hp-ipad-one {
        display: flex;
        gap: 161px;
        margin-top: 65px;
        margin-bottom: 11px;
    }
    .flex-hp-ipad-two {
        display: flex;
        gap: 172px;
    }
    .before-text-ipad {
        width: 310px;
        font-size: 16px;
        line-height: 24px;
        padding-left: 0;
        padding-top: 4px;
        margin-bottom: 56px;
    }
    .footer-if-ipad {
        position: relative;
    }
    .footer-circle-ipad {
        position: absolute;
        font-size: 12px;
        font-weight: 700;
        z-index: 1;
        top: 55px;
        right: 112px;
    }
    .footer-inst-ipad {
        background-image: url(../images/instmini.svg);
        width: 26px;
        height: 26px;
        opacity: 0.8;
        position: absolute;
        right: 52px;
        top: 64px;
    }
    .footer-facebook-ipad {
        background-image: url(../images/fbmini.svg);
        width: 26px;
        height: 26px;
        opacity: 0.7;
        position: absolute;
        right: 1px;
        top: 64px;
    }
    .footer-nav {
        font-size: 12px;
        gap: 26px;
        margin-left: 375px;
    }
    .header-logo-phone {
        display: none;
    }
    .header-logo {
        width: 78px;
        height: 24px;
    }
    .footer {
        padding-top: 50px;
    }
    .footer-end {
        margin-top: 100px;
    }
    .text-box {
        font-size: 16px;
        line-height: 19.2px;
        width: 182px;
        height: 38px;
        padding-left: 23px;
        padding-top: 5px;
    }
    .banner h1 {
        font-size: 26px;
        line-height: 32.5px;
        width: 358px;
        height: 70px;
        padding-top: 33px;
    }

}


@media (max-width: 769px) {
    .header {
        margin-top: 2px;
    }
    .header-nav {
        display: none;
    }
    .header-facebook {
        width: 26px;
        height: 26px;
    }
    .header-inst {
        width: 26px;
        height: 26px;
    }
    .banner-workout span {
        margin-right: 12px;
    }
    .banner-workout {
        font-size: 26px;
        margin-bottom: 16px;
    }
    .botton-down {
        margin-top: 69px;
        height: 40px;
        width: 40px;  
    }
    article {
        max-width: 748px;
        padding-left: 9px;
        padding-right: 11px;  
    }
    h2 {
        font-size: 26px;
        margin-left: -2px;
        margin-bottom: 21px;
    }
    .box-button-ipad {
        background-color: #2B3541;
        color: #FBF138;
        padding: 8px;
        margin-left: 32px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .img-button-ipad {
        background-size: contain;
        background-repeat: no-repeat;
        width: 14px;
        height: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-three {
        display: none;
    }
    .box-gradient {
        background: none;
    }
    .box-gradient:hover {
       background: none;
    }
    .box-data {
        font-size: 12px;
        padding-left: 25px;
        padding-top: 5px;
    }
    .box-button {
        display: none;
    }
    .box-data-ipad {
        font-size: 12px;
        color: #2B3541;
        font-weight: 700;
        padding-top: 17px;
        padding-left: 20px;
    }
    .box-type-ipad {
        font-size: 12px;
        color: #2B3541;
        background-color: #FBF138;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        width: 87px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .grid-item-ipad {
        border: 1px solid #2B3541;
        position: relative;
    }
    .grid-item-active-ipad {
        border: none;
        position: relative;
    }
    .grid-item-ipad:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .grid-item-ipad:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .grid-item-ipad:nth-child(3) {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .grid-item-active-ipad:nth-child(4) {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .grid-item-ipad:nth-child(5) {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .grid-item-ipad:nth-child(6) {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .active-ipad {
        background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
        box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
        opacity: 0.9;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .menu-grid {
        display: none;
    }
    .subscription-items {
        position: relative;
        padding: 0;
    }
    .before-h {
        font-size: 26px;
    }
    .before-text {
        display: none;
    }
    .before-footer {
        max-width: 748px;
        padding-left: 8px;
        padding-right: 11px;
    }
    .flex-hp {
        display: none;
    }
    .hp-h-ipad {
        font-size: 16px;
        line-height: 19.2px;
    }
    .hp-p-ipad {
        font-size: 16px;
        line-height: 24px;
        opacity: 60%;
    }
    .flex-hp-ipad-one p {
        width: 210px;
    }
    .flex-hp-ipad-two p {
        width: 200px;
    }
    .footer-if {
        display: none;
    }
    .footer-circle-ipad::before {
        content: "";
        display: inline-block;
        width: 20px; 
        height: 20px;
        background: #FBF138;
        box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
        border-radius: 50%;
        position: absolute;
        top: -8px;
        left: -17px;
        z-index: -1;
    }
    .before-footer-items {
        margin-bottom: 80px;
    }
    .footer-item {
        flex-basis: 0;
    }
    .footer-end p {
        font-size: 10px;
    }
}
@media (min-width: 769px) {
    .burger {
        display: none;
    }
    .box-three-ipad {
        display: none;
    }
    .box-button-ipad {
        display: none;
    }
    .menu-grid-ipad {
        display: none;
    }
    .before-text-ipad {
        display: none;
    }
    .flex-hp-ipad-one {
        display: none;
    }
    .flex-hp-ipad-two {
        display: none;
    }
    .footer-if-ipad {
        display: none;
    }
    .menu-grid-phone {
        display: none;
    }
    .header-logo-phone {
        display: none;
    }
    
}